$schema: "http://json-schema.org/draft-06/schema#"
description: Configuration parameters for running BLR pipeline
properties:
  cluster_tag:
    type: string
    description: SAM tag to use for store barcode cluster id in bam file. 'BX' is 10x genomic default
    default: BX
  molecule_tag:
    type: string
    description: SAM flag used to store molecule ID, same as 10x default.
    default: MI
  num_mol_tag:
    type: string
    description: SAM flag used to store number of molecules per barcode.
    default: MN
  sequence_tag:
    type: string
    description: SAM tag to use for store original barcode sequence in bam file. 'RX' is 10x genomic default
    default: RX
  read_mapper:
    type: string
    pattern: "bwa|bowtie2|minimap2"
    description: Which read mapper to use
  duplicate_marker:
    type: string
    pattern: "sambamba|samblaster"
    description: Which duplicate marking tools to use
  genome_reference:
    type: [ "string", "null" ]
    description: Reference index prefix
  h1:
    type: string
    description: h1 adaptor sequnce, appears before barcode in read1
  h2:
    type: string
    description: h2 adaptor sequence, appears after barcode in read1
  h3:
    type: string
    description: h3 adaptor sequence, appears after genomics insert in read1 and read2.
  barcode_len:
    type: integer
    description: Length of barcode sequence
  reference_variants:
    type: [ "string", "null" ]
    description: Path to reference variants, if not provided then variant will be called by freebayes
  phasing_ground_truth:
    type: [ "string", "null" ]
    description: Path to phased variants used to compute phasing stats.
  barcode_max_dist:
    type: integer
    description: Max edit distance (Leveshtein distance) allowed to cluster two barcode sequences together
  max_molecules_per_bc:
    type: integer
    description: Max number of molecules allowed for a single barcode (removes if bc has > 260 molecules).

