# exaplanatory figure folder for linking in README.md.
pictures/*

# Personal script for fetching paths to softwares and folders.
paths.sh
paths.txt

# Generated testdata folder
example/testdata_analysis

__pycache__/

/src/blr.egg-info/

.idea/
